<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>My Routing App!</title>
	<!-- set the base path for angular routing -->
	<base href="/">
	<!-- CSS -->
	<!-- load bootstrap and fontawesome via CDN -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<style>
		 body { padding-top:50px; }
	</style>

	 <!-- JS -->
	 <!-- load angular and angular-route via CDN -->
	 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
	 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
	 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>

	<!-- load our custom angular app files -->
	 <script src="js/app.js"></script>
	 <script src="js/app.routes.js"></script>
 </head>
 <body class="container" ng-app="routerApp" ng-controller="mainController as main">

	 <!-- HEADER AND NAVBAR -->
	 <header>
		 <nav class="navbar navbar-default">
			 <div class="navbar-header">
			 	<a class="navbar-brand" href="/">Angular Routing Example</a>
			 </div>

			 <ul class="nav navbar-nav navbar-right">
				 <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
				 <li><a href="/about"><i class="fa fa-shield"></i> About</a></li>
				 <li><a href="/contact"><i class="fa fa-comment"></i> Contact</a></li>
			 </ul>
		 </nav>
	 </header>

	 <!-- MAIN CONTENT AND INJECTED VIEWS -->
	 <main>
		<div class="jumbotron">
			<h1>{{ main.bigMessage }}</h1>
		</div>
		<div id="content-views">
			<div ng-view></div>
		</div>

	 </main>

 </body>
 </html>